{% extends 'index.html' %}
{% block main %}
<div class=" card row justify-content-center align-self-center" style="max-width: 540px; margin: 0 auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./img/Web-Application-dynamic.jpg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Aplicacion para guardar tus series favoritas</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}